{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>school chat</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bonjour, bienvenue sur school chat</h1>
        <h2>Aujourd'hui nous sommes le {{ date|date:"d F Y "}}</h2>
        <h3>Il est actuellement {{ date|date:"H\hi" }}</h3>
        <a href = http://leo75.pythonanywhere.com/blog/ >voir le planning groupe 2</a>
        <a href = http://leo75.pythonanywhere.com/blog/G1/ >voir le planning du groupe 1</a>
        <a href = http://leo75.pythonanywhere.com/chat/ >accéder au chat</a>
    </div>
</body>
</html>