{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Le planing 5°th</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <h1>Voici le planing des 5°th</h1>

    <table border="1">
        <!-- En-têtes du tableau -->
        <thead>
            <tr>
                <th>heure</th>
                {% for jour in jour_distinctes %}
                    <th>{{ jour.jour }}</th>
                {% endfor %}
            </tr>
        </thead>

        <!-- Corps du tableau -->
        <tbody>
                    {% for heure in heures_distinctes %}
            <tr>
                <td>{{ heure }}</td>
                {% for jour in jour_distinctes %}
                    <td>
                        {% get_planning plannings heure jour.jour as planning_matiere %}
                        {{ planning_matiere }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <a href="http://127.0.0.1:8000/">Retourner au menu principal</a>
</body>
</html>
